{% include "header.html" %}
<div id="loader"></div>

<div class="korisnici">
	<form method="POST" action="/commvault" id="select_config">
		<div class="korisnici">
		Time of report
		<select id="config_select" name="config_id">
			{% for id in getallconfid %}
				<option value="{{id[0]}}" SELECT>{{id[1]}}</option>
			{% endfor %}
		</select>
		</div>
	</form>
</div>
<div style="visibility:hidden;" id="myDiv">

<div class="korisnici">
	<table id="commvault" class="display compact">
		<thead>
			<tr>
				<th>KID</th>
				<th>Korisnik</th>
				<th>Client Name</th>
				<th>Client OS</th>
				<th>License Details</th>
				<th>Deleted License</th>
			</tr>
		</thead>
		<tbody>
			{% for row in commvault %}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="korisnici">
	<table id="commvaultlib" class="display compact">
		<thead>
			<tr>
				<th>Library</th>
				<th>Total Space</th>
				<th>Space Available</th>
			</tr>
		</thead>
		<tbody>
			{% for row in commvaultlib %}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</div>
<script>
 $(document).ready( function () {
	 $('#commvault').DataTable({
		 iDisplayLength: 20,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
		 "createdRow": function( row, data, dataIndex ) {
			 if ( data[5] == "True" ) {        
				 $(row).addClass('graytext');
			 }}

	 });
	 $('#commvaultlib').DataTable({
		 iDisplayLength: 20,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
		 "createdRow": function( row, data, dataIndex ) {
			 if ( data[5] == "True" ) {        
				 $(row).addClass('graytext');
				 
			 }}

	 });
	 $("#config_select").val({{getallconfid.id}});

	 $(function() {
    if (localStorage.getItem('select_config')) {
        $("#select_config option").eq(localStorage.getItem('select_config')).prop('selected', true);
    }

    $("#select_config").on('change', function() {
        localStorage.setItem('select_config', $('option:selected', this).index());
    });
	});

     $(function() {$('#config_select').change(function() {
		 this.form.submit(); });
     });
 } );

var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}
</script>
{% include "footer.html" %}
