{% include "header.html" %}
<div id="loader"></div>

<div>
	<form method="POST" action="/datastore" id="select_config">
		Time of report
		<select id="config_select" name="config_id">
			{% for id in getallconfid %}
				<option value="{{id[0]}}" SELECT>{{id[1]}}</option>
			{% endfor %}
		</select>
	</form>

</div>

<div style="visibility:hidden;" id="myDiv">

<div class="korisnici">
	<h1>VMware Datastores  @ {{lastdate[0]}}</h1>
	<table id="vmware_table" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>vCenter</th>
				<th>Name</th>
				<th>Datastore (GB)</th>
                <th>Datastore FREE (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for row in datastores %}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
<script>
 $(document).ready( function () {
	 $('#vmware_table').DataTable({
		 iDisplayLength: 20,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
		 "createdRow": function( row, data, dataIndex ) {
			 if ( data[6] == "poweredOff" ) {        
				 $(row).addClass('graytext');
				 
			 }}

	 });
	 $("#config_select").val({{getallconfid.id}});

	 $(function() {
    if (localStorage.getItem('select_config')) {
        $("#select_config option").eq(localStorage.getItem('select_config')).prop('selected', true);
    }

    $("#select_config").on('change', function() {
        localStorage.setItem('select_config', $('option:selected', this).index());
    });
	});

     $(function() {$('#config_select').change(function() {
		 this.form.submit(); });
     });
 } );

 var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}
</script>
{% include "footer.html" %}
