{% include "header.html" %}
<div id="loader"></div>

<div class="korisnici">
	<form method="POST" action="/hcp" id="select_config">
		<div class="korisnici">
		Time of report
		<select id="config_select" name="config_id">
			{% for id in getallconfid %}
				<option value="{{id[0]}}" SELECT>{{id[1]}}</option>
			{% endfor %}
		</select>
		</div>
	</form>
</div>

<div style="visibility:hidden;" id="myDiv">
	
<div class="container">
	<div>
		<h1>HCP Systems</h1>
		<table id="hcpsystems" class="display compact">
			<thead>
				<tr>
					<th>HCP system</th>
					<th>Object Count</th>
					<th>Ingested Volume GB</th>
					<th>Storage Capacity Used GB</th>
					<th>Ingested Volume MB</th>
					<th>Storage Capacity Used MB</th>
					<th>Reads</th>
					<th>Writes</th>
					<th>Deletes</th>
				</tr>
			</thead>
			<tbody>
			{% for row in hcpsystems%}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div>
		<h1>HCP Tenants and Namespaces</h1>
		<table id="hcpnamespace" class="display compact">
			<thead>
				<tr>
					<th>HCP system</th>
					<th>Tenant</th>
					<th>Namespace</th>
					<th>Object Count</th>
					<th>Ingested Volume GB</th>
					<th>Storage Capacity Used GB</th>
					<th>Ingested Volume MB</th>
					<th>Storage Capacity Used MB</th>
					<th>Bucket Reads</th>
					<th>Bucket Writes</th>
					<th>Bucket Deletes</th>
				</tr>
			</thead>
			<tbody>
			{% for row in hcpnamespace%}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
 $(document).ready( function () {
	$('#hcpsystems').DataTable({
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
	 });

	 $('#hcpnamespace').DataTable({
		 iDisplayLength: 20,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
	 });

	$("#config_select").val({{getallconfid.id}});

	$(function() {
    if (localStorage.getItem('select_config')) {
        $("#select_config option").eq(localStorage.getItem('select_config')).prop('selected', true);
    }

    $("#select_config").on('change', function() {
        localStorage.setItem('select_config', $('option:selected', this).index());
    });
	});

    $(function() {$('#config_select').change(function() {
		 this.form.submit(); });
     });
	 
 } );
  var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}

</script>
{% include "footer.html" %}
