<!DOCTYPE HTML>
<html>
	<head>
		<title>reporter.setcor.com</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/jszip-2.5.0/dt-1.10.23/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/jszip-2.5.0/dt-1.10.23/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>



		<style>
		 .topnav img{
			 width:20px;
			 height:20px;
		 }
		 .graytext {
			 color: gray !important;
			 font-style: italic;
		 }

		 TABLE {
			 width: 100%;
		 }
		 
		 TH {
			 font-size: 12px !important;
		 }

		 TD {
			 font-size: 12px !important;
		 }

		 div.container {
			 width: 90%;
		 }

		ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: 1px solid #f3f3f3;
		background-color: ##f3f3f3;
		}

		li {
		float: left;
		}

		li a {
		display: block;
		color: #666;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		}

		li a:hover:not(.active) {
		background-color: #ddd;
		}

		li a.active {
		color: #ff3300;
		background-color: #ff3300;
		}
		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		float: left;

		display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		display: none;
		position: absolute;
		background-color: #FFFFFF;
		min-width: 100px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		}

		/* Links inside the dropdown */
		.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		}

		/* Change color of dropdown links on hover */
		.dropdown-content a:hover {background-color: #ddd;}

		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {display: block;}

		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropdown:hover .dropbtn {background-color: #3e8e41;}

/**************************/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/**************************/




		</style>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	</head>
	<body onload="funcloading()"">

		<div class="topnav">
			<ul>
				<li><a class="navbar-brand" href="https://reporter.setcor.com"><img id="logo" alt="logo" src={{url_for('static', filename='setcor.png')}}></a></li>
				<div class="dropdown">
				<li><a href="/users">Users</a>
					<div class="dropdown-content">
					<a href="/novikorisnik">Add user</a>
					</div>
				</li>
				</div>
				<div class="dropdown">
				<li><a href="/vmware">VMware</a>
					<div class="dropdown-content">
					<a href="/vmwaresnapshots">Snapshots</a>
					<a href="/usagemeter">Usagemeter</a>
					</div>
				</li>
				</div>
				<li><a href="/datastore">Datastores</a></li>
				<li><a href="/storageluns">HUS LUNs</a></li>
				<li><a href="/opsluns">Hitachi OPS LUNs</a></li>
				<!--<div class="dropdown">
				<li><a href="/">RACKS</a>
					<div class="dropdown-content">
					<a href="/lp1a">LP1A</a>
					</div>
				</li>
				</div>-->
				<li><a href="/veeamvspp">Veeam</a></li>
				<li><a href="/commvault">Commvault</a></li>
				<li><a href="/hcp">HCP</a></li>
				<div class="dropdown">
				<li><a href="/sslcert">SSLcert</a>
					<div class="dropdown-content">
					<a href="/sslcertunos">Add SSLcert</a>
					</div>
				</li>
				</div>
				<div class="dropdown">
				<li><a href="/licence">License</a>
					<div class="dropdown-content">
					<a href="/licenceunos">Add license</a>
					</div>
				</li>
				</div>
			</ul>
		</div>
