{% include "header.html" %}
    <table class="display compact">
    <tr>
        <th> Last generated configuration: {{lastconfig[0]}} </th>
    </tr>
    <br>
    <tr>
        <th> Date: {{lastconfig[1]}} Europe/Zagreb</th>
    </tr>
    </table>
{% include "footer.html" %}
