{% include "header.html" %}
<div id="loader"></div>

<div style="visibility:hidden;" id="myDiv">

<h1>Licence</h1>
<div class="korisnici">
	<table id="licence" class="display compact">
		<thead>
			<tr>
				<th>LIC naziv</th>
				<th>LIC firma</th>
				<th>LIC opis</th>
                <th>LIC start date</th>
                <th>LIC end date</th>
                <th>LIC kontakt</th>
				<th>LIC expired</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
			<tbody>
			{% for item in licence %}
			<tr>
			<td style="width:100px; text-align: justify;" "class="korisnik">{{item[0]}}</td>
			<td style="width:150px; text-align: justify;" "class="korisnik">{{item[1]}}</td>
			<td style="width:250px; text-align: justify;" "class="korisnik">{{item[2]}}</td>
			<td style="width:100px; text-align: justify;" "class="korisnik">{{item[3]}}</td>
			<td style="width:100px; text-align: justify;" "class="korisnik">{{item[4]}}</td>
			<td style="width:150px; text-align: justify;" "class="korisnik">{{item[5]}}</td>
			<td style="width:100px; text-align: justify;" "class="korisnik">{{item[6]}}</td>
			<td style="width:70px; text-align: justify;"><a href="/uredilicence={{item[7]}}" class="btn bnt-secondary btn-sm">EDIT</a>
				<a href="/obrisilicence={{item[7]}}" class="btn bnt-secondary btn-sm">DELETE</a>
			</td>
			</tr>
			{% endfor %}
			</tbody>
	</table>
</div>
</div>
<script>
 $(document).ready( function () {
	 $('#licence').DataTable({
		 iDisplayLength: 50,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
		 "createdRow": function( row, data, dataIndex ) {
			 if ( data[6] == "True" ) {        
				 $('td', row).css('background-color', '#fa837a');

			 }
			 else if( data[6] == "Soon" ) {        
				 $('td', row).css('background-color', '#f7f172');

			 }
			 }

	 });
 } );

var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}
</script>
{% include "footer.html" %}
