{% include "header.html" %}


<div class="korisnici">
<form method="POST" action="">
    <H1>DODAVANJE NOVE LICENCE</H1>
    <label> Naziv licence </label>
    <input type="text" name="licnaziv"/> <br><br>

    <label> Firma </label>
    <input type="text" name="licfirma"/> <br><br>

    <label> Opis certifikata </label>
    <input type="text" name="licopis"/> <br><br>

    <label> Datum početka </label>
    <input type="date" name="licstart"/> <br><br>
    
    <label> Datum isteka </label>
    <input type="date" name="licend"/> <br><br>

    <label> Mail za notifikacije </label>
    <input type="text" name="licmail"/> <br><br>

    <input type="submit" class="btn btn-primary" name='dodaj' value="Add">
    <input type="submit" class="btn btn-primary" name='dodaj' value="Cancel">
	<br><br>
</form>
</div>

{% include "footer.html" %}
