{% include "header.html" %}


<div class="korisnici">
<form method="POST" action="">
    <H1>DODAVANJE NOVOG KORISNIKA</H1>
    <label> Šifra korisnika </label>
    <input type="text" name="id"/> <br><br>
    <label> Ime korisnika </label>
    <input type="text" name="korisnik"/> <br><br>
    <input type="submit" class="btn btn-primary" name='dodaj' value="Add">
    <input type="submit" class="btn btn-primary" name='dodaj' value="Cancel">
	<br><br>
</form>
</div>

{% include "footer.html" %}
