{% include "header.html" %}
<div class="korisnici">
<form method="POST" action="">
    <H1>BRISANJE KORISNIKA</H1>
    <H1>JESTE LI SIGUTNI?</H1>
    <label> Šifra korisnika </label>
    <input type="text" value="{{user[0]}}" name="id"/> <br><br>
    <label> Ime korisnika </label>
    <input type="text" value="{{user[1]}}" name="korisnik"/> <br><br>
    <input type="submit" class="btn btn-primary" name='obrisi' value="Delete">
    <input type="submit" class="btn btn-primary" name='obrisi' value="Cancel">
	<br><br>
</form>
</div>
{% include "footer.html" %}
