{% include "header.html" %}
<div class="korisnici">
<form method="POST" action="">
    <H1>BRISANJE LICENCE</H1>
    <H1>JESTE LI SIGUTNI?</H1>
    <input type="submit" class="btn btn-primary" name='obrisi' value="Delete">
    <input type="submit" class="btn btn-primary" name='obrisi' value="Cancel">
	<br><br>
</form>
</div>
{% include "footer.html" %}
