{% include "header.html" %}


<div class="korisnici">
<form method="POST" action="">
    <H1>DODAVANJE NOVOG SSL CERTIFIKATA</H1>
    <label> Naziv SSL certifikata </label>
    <input type="text" name="sslnaziv"/> <br><br>

    <label> Firma </label>
    <input type="text" name="sslfirma"/> <br><br>

    <label> Opis certifikata </label>
    <input type="text" name="sslopis"/> <br><br>

    <label> Datum početka </label>
    <input type="date" name="sslstart"/> <br><br>
    
    <label> Datum isteka </label>
    <input type="date" name="sslend"/> <br><br>

    <label> Mail za notifikacije </label>
    <input type="text" name="sslmail"/> <br><br>

    <input type="submit" class="btn btn-primary" name='dodaj' value="Add">
    <input type="submit" class="btn btn-primary" name='dodaj' value="Cancel">
	<br><br>
</form>
</div>

{% include "footer.html" %}
