<!DOCTYPE HTML>
<html>
	<head>
		<title>reporter.setcor.com</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/jszip-2.5.0/dt-1.10.23/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/jszip-2.5.0/dt-1.10.23/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<style>
		 .topnav img{
			 width:20px;
			 height:20px;
		 }
		 .graytext {
			 color: gray !important;
			 font-style: italic;
		 }

		 TABLE {
			 width: 100%;
		 }
		 
		 TH {
			 font-size: 12px !important;
		 }

		 TD {
			 font-size: 12px !important;
		 }

		 div.container {
			 width: 90%;
		 }

		ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: 1px solid #f3f3f3;
		background-color: ##f3f3f3;
		}

		li {
		float: left;
		}

		li a {
		display: block;
		color: #666;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		}

		li a:hover:not(.active) {
		background-color: #ddd;
		}

		li a.active {
		color: #ff3300;
		background-color: #ff3300;
		}
		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		float: left;

		display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		display: none;
		position: absolute;
		background-color: #FFFFFF;
		min-width: 100px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		}

		/* Links inside the dropdown */
		.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		}

		/* Change color of dropdown links on hover */
		.dropdown-content a:hover {background-color: #ddd;}

		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {display: block;}

		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropdown:hover .dropbtn {background-color: #3e8e41;}



		</style>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	</head>
	<body onload="funcloading()"">

		<div class="topnav">
			<ul>
				<li><a class="navbar-brand" href="https://reporter.setcor.com"><img id="logo" alt="logo" src={{url_for('static', filename='setcor.png')}}></a></li>
				<div class="dropdown">
				<li><a href="/users">Users</a>
					<div class="dropdown-content">
					<a href="/novikorisnik">Add users</a>
					</div>
				</li>
				</div>
				<li><a href="/vmware">VMware</a></li>
				<li><a href="/datastore">Datastores</a></li>
				<li><a href="/storageluns">HUS LUNs</a></li>
				<li><a href="/opsluns">Hitachi OPS LUNs</a></li>
				<!--<div class="dropdown">
				<li><a href="/">RACKS</a>
					<div class="dropdown-content">
					<a href="/lp1a">LP1A</a>
					</div>
				</li>
				</div>-->
				<li><a href="/veeamvspp">Veeam</a></li>
			</ul>
		</div>

<body onload="myFunction()">
		<div id="loader"></div>

<div>
	<form method="POST" action="/test" id="select_config">
		Time of report
		<select id="config_select" name="config_id">
			{% for id in getallconfid %}
				<option value="{{id[0]}}" SELECT>{{id[1]}}</option>
			{% endfor %}
		</select>
	</form>

</div>


<div style="height:40vh; width:80vw">

<canvas id="mixed-chart"></canvas>

</div>
<script>
new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
      datasets: [{
		  order: 1,
          label: "VCPU",
          type: "line",
		  backgroundColor: "#ff0000",
          borderColor: "#ff0000",
          data: [{% for item in valuesvcpu %}
                {{item}},
              {% endfor %}],
          fill: false,
		  yAxisID: 'right-y-axis'
        },
		{
		  order: 2,
          label: "VRAM GB",
          type: "bar",
          backgroundColor: "#80c1ff",
          borderColor: "#80c1ff",
          data: [{% for item in values %}
                {{item}},
              {% endfor %}],
          fill: false,
		  yAxisID: 'left-y-axis'
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Potrošnja resursa zadnjih 30 dana'
      },
      legend: { display: true,
	  			position: 'bottom'
			},
	  scales: {
            yAxes: [{
                id: 'left-y-axis',
                type: 'linear',
                position: 'left',
				scaleLabel: {
					display: true,
        			labelString: 'RAM GB'}
            }, {
                id: 'right-y-axis',
                type: 'linear',
                position: 'right',
				scaleLabel: {
					display: true,
        			labelString: 'VCPU'}
            }]
    }
	}
});
</script>
{% include "footer.html" %}
