{% include "header.html" %}
<div class="korisnici">
<form method="POST" action="">
    <H1>Uredi licence </H1> <br>
    Naziv licence <input type="text" value="{{licence[0]}}" name="licnaziv" /> <br>
    Firma <input type="text" value="{{licence[1]}}" name="licfirma" />
    Opis certifikata <input type="text" value="{{licence[2]}}" name="licopis" />
    Datum početka <input type="date" value="{{licence[3]}}" name="licstart" />
    Datum isteka <input type="date" value="{{licence[4]}}" name="licend" />
    Mail za notifikacije <input type="text" value="{{licence[5]}}" name="licmail" />
    <input type="submit" class="btn btn-primary">
	<br><br>
</form>
</div>
{% include "footer.html" %}
