{% include "header.html" %}
<div class="korisnici">
<form method="POST" action="">
    <H1>Uredi SSL cert </H1> <br>
    Naziv SSL certifikata <input type="text" value="{{sslcert[0]}}" name="sslnaziv" /> <br>
    Firma <input type="text" value="{{sslcert[1]}}" name="sslfirma" />
    Opis certifikata <input type="text" value="{{sslcert[2]}}" name="sslopis" />
    Datum početka <input type="date" value="{{sslcert[3]}}" name="sslstart" />
    Datum isteka <input type="date" value="{{sslcert[4]}}" name="sslend" />
    Mail za notifikacije <input type="text" value="{{sslcert[5]}}" name="sslmail" />
    <input type="submit" class="btn btn-primary">
	<br><br>
</form>
</div>
{% include "footer.html" %}
