{% include "header.html" %}
<div class="korisnici">
<form method="POST" action="">
    <H1>Uredi korisnika </H1> <br>
    Šifra korisnika <input type="text" value="{{user[0]}}" name="id" /> <br>
    Ime korisnika <input type="text" value="{{user[1]}}" name="korisnik" />
    <input type="submit" class="btn btn-primary">
	<br><br>
</form>
</div>
{% include "footer.html" %}
