{% include "header.html" %}
<div id="loader"></div>

<div style="visibility:hidden;" id="myDiv">

<h1>VMWARE POTROŠNJA ZA PROŠLI MJESEC</h1>
<div style="width:620px" class="korisnici">
	<table id="usagemeter" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Korisnik</th>
				<th>Usage Points</th>
			</tr>
		</thead>
		<tbody>
			{% for row in usagemeter %}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
<script>
 $(document).ready( function () {
	 $('#usagemeter').DataTable({
		 iDisplayLength: 50,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
		 "createdRow": function( row, data, dataIndex ) {
			 if ( data[6] == "poweredOff" ) {        
				 $(row).addClass('graytext');
				 
			 }}

	 });
 } );

var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}
</script>
{% include "footer.html" %}
