{% include "header.html" %}
<div id="loader"></div>

<div>
	<form method="POST" action="/userdetail={{kid}}" id="select_config" autocomplete="on">
		Time of report
		<select id="config_select" name="config_id">
			{% for id in getallconfid %}
				<option value="{{id[0]}}" SELECT>{{id[1]}}</option>
			{% endfor %}
		</select>
	</form>
</div>

<div style="visibility:hidden;" id="myDiv">

<div class="container">
	<h1>User report  @ {{lastdate[0]}}</h1>
	<table id="vmware_table" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>vCenter</th>
				<th>Resource Pool</th>
				<th>VM</th>
				<th>vRAM (GB)</th>
				<th>vCPU</th>
				<th>Power State</th>
				<th>Folder</th>
				<th>OS</th>
				<th>Annotation</th>
				<th>VM Disk (GB)</th>
                <th>VM Disk FREE (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for row in lastvmware %}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="container">
	<h1>Datastores</h1>
	<table id="vmware_datastore_table" class="display compact">
		<thead>
			<tr>
				<th>vCenter</th>
				<th>Label</th>
				<th>Datastore (GB)</th>
				<th>Datastore FREE (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for row in datastores %}
			<tr>
			{% for data in row %}
			<td style="text-align:center">{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}		 
		</tbody>
	</table>
</div>

<div class="container" id="hus_luns">
	
	<table id="hus_luns_table" class="display compact">
		<h1>HUS LUNS</h1>
		<thead>
			<tr>
				<th>Storage</th>
				<th>Label</th>
				<th>Datastore (GB)</th>
				<th>Datastore FREE (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for row in hus_luns %}
			<tr>
			{% for data in row %}
			<td style="text-align:center">{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}		 
		</tbody>
	</table>
</div>

<div class="container">
	<h1>OPS LUNS</h1>
	<table id="ops_luns_table" class="display compact">
		<thead>
			<tr>
				<th>Storage</th>
				<th>Label</th>
				<th>Datastore (GB)</th>
				<th>Datastore FREE (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for row in ops_luns %}
			<tr>
			{% for data in row %}
			<td style="text-align:center">{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}		 
		</tbody>
	</table>
</div>

<div class="container">
	<h1>Networks</h1>
	<table id="vmware_network_table" class="display compact">
		<thead>
			<tr>
				<th>vCenter</th>
				<th>Portgroup</th>
				<th>VLAN ID</th>
			</tr>
		</thead>
		<tbody>
			{% for row in networks %}
			<tr>
			{% for data in row %}
			<td style="text-align:center">{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}		 
		</tbody>
	</table>
</div>

<div class="container">
	<h1>Veeam Backup VMs</h1>
	<table id="veeamvms" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Veeam Backup VMs</th>
			</tr>
		</thead>
		<tbody>
			{% for row in veeamvms %}
			<tr>
			{% for data in row %}
			<td style="text-align:center">{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}		 
		</tbody>
	</table>
</div>

<div class="container">
	<h1>Veeam Backup Size</h1>
	<table id="veeambackupsize" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Veeam Backup Size (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for row in veeambackupsize %}
			<tr>
			{% for data in row %}
			<td style="text-align:center">{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}		 
		</tbody>
	</table>
</div>
</div>
<script>
 $(document).ready( function () {
	$('#vmware_table').DataTable({
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
		 "createdRow": function( row, data, dataIndex ) {
			 if ( data[6] == "poweredOff" ) {        
				 $(row).addClass('graytext');
				 
			 }}

	 });
	$("#config_select").val({{getallconfid.id}});

	$(function() {
    if (localStorage.getItem('select_config')) {
        $("#select_config option").eq(localStorage.getItem('select_config')).prop('selected', true);
    }

    $("#select_config").on('change', function() {
        localStorage.setItem('select_config', $('option:selected', this).index());
    });
	});

    $(function() {$('#config_select').change(function() {
		 this.form.submit(); });
     });

	$('#vmware_datastore_table').DataTable({
		 paging: false,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });

	$('#hus_luns_table').DataTable({
		 paging: false,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });

	$('#ops_luns_table').DataTable({
		 paging: false,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });
	 
	$('#vmware_network_table').DataTable({
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });

	$('#veeamvms').DataTable({
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });
	
	$('#veeambackupsize').DataTable({
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });
	 
 } );
  var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}

</script>
{% include "footer.html" %}
