{% include "header.html" %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}

      <li><br><br>{{ message }}<br><br></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div style="width:620px" class="korisnici">
<table id="users_table" class="display compact">
	<thead>
			<tr>
				<th>ID</th>
				<th>NAZIV</th>
				<th>ACTION</th>
				<th>GRAFOVI</th>
			</tr>
	</thead>
	<tbody>
    {% for user in userDetails %}
    <tr>
	<td style="width:50px; text-align: center;"><a href="/userdetail={{user[0]}}">{{user[0]}}</a></td>
	<td style="width:350px; text-align: justify;" "class="korisnik">{{user[1]}}</td>
	<td style="width:70px; text-align: center;"><a href="/uredikorisnika={{user[0]}}" class="btn bnt-secondary btn-sm">EDIT</a>
		 <a href="/obrisikorisnika={{user[0]}}" class="btn bnt-secondary btn-sm">DELETE</a>
	</td>
	<td style="width:150px; text-align: center;"><a href="/graph={{user[0]}}">POTROŠNJA - {{user[0]}}</a></td>
    </tr>
    {% endfor %}
	</tbody>
</table>
</div>
<script>
 $(document).ready( function () {
	 $('#users_table').DataTable({
		 paging: false,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
	 });
 } );
</script>
{% include "footer.html" %}
