{% include "header.html" %}
<div id="loader"></div>

<div class="korisnici">
	<form method="POST" action="/veeamvspp" id="select_config">
		<div class="korisnici">
		Time of report
		<select id="config_select" name="config_id">
			{% for id in getallconfid %}
				<option value="{{id[0]}}" SELECT>{{id[1]}}</option>
			{% endfor %}
		</select>
		</div>
	</form>
</div>

<div style="visibility:hidden;" id="myDiv">

<h1>VEEAM VSPP USAGE @ {{lastdate[0]}}</h1>
<div style="width:500px" class="korisnici">
	<table id="veeambackupsize" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Veeam Backup usage (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for data in veeambackupsize %}
			<tr>
			<td style="text-align: center;"><a href="/userdetail={{data[0]}}">{{data[0]}}</a></td>
			<td style="width:150px; text-align: center;">{{data[1]}}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<h1>VEEAM VSPP  @ {{lastdate[0]}}</h1>
<div class="korisnici">
	<table id="veeamvspp" class="display compact">
		<thead>
			<tr>
				<th>ID</th>
				<th>Backup Job</th>
				<th>Backup File</th>
				<th>Backup Size GB</th>
			</tr>
		</thead>
		<tbody>
			{% for row in veeambackup %}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
<script>
 $(document).ready( function () {
	 $('#veeambackupsize').DataTable({
		 paging: false,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel'],
		 keys: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });
		 
	 $('#veeamvspp').DataTable({
		 iDisplayLength: 10,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true
		 });

	 $("#config_select").val({{getallconfid.id}});

	 $(function() {
    if (localStorage.getItem('select_config')) {
        $("#select_config option").eq(localStorage.getItem('select_config')).prop('selected', true);
    }

    $("#select_config").on('change', function() {
        localStorage.setItem('select_config', $('option:selected', this).index());
    });
	});

     $(function() {$('#config_select').change(function() {
		 this.form.submit(); });
     });
 } );

var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}
</script>
{% include "footer.html" %}
