{% include "header.html" %}
<div id="loader"></div>

<div style="visibility:hidden;" id="myDiv">
	
<div class="container">
	<div>
		<h1>VMWARE SNAPSHOTS BY VEEAM</h1>
		<table id="veeamsnapshots" class="display compact">
			<thead>
				<tr>
					<th>ID</th>
					<th>VM</th>
					<th>RP</th>
					<th>FOLDER</th>
					<th>SNAPSHOT NAME</th>
					<th>SNAPSHOT DATE</th>
				</tr>
			</thead>
			<tbody>
			{% for row in veeamsnapshots%}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div>
		<h1>VMWARE SNAPSHOTS</h1>
		<table id="vmwaresnapshots" class="display compact">
			<thead>
				<tr>
					<th>ID</th>
					<th>VM</th>
					<th>RP</th>
					<th>FOLDER</th>
					<th>SNAPSHOT NAME</th>
					<th>SNAPSHOT DATE</th>
				</tr>
			</thead>
			<tbody>
			{% for row in snapshots%}
			<tr>
			{% for data in row %}
			<td>{{data}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
 $(document).ready( function () {
	$('#veeamsnapshots').DataTable({
		 iDisplayLength: 25,
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
	 });

	 $('#vmwaresnapshots').DataTable({
		 paging: true,
		 scrollX: false,
		 dom: 'lBfrtip',
		 buttons: ['copy', 'excel', 'pdf', 'print'],
		 keys: true,
		 responsive: true,
		 fixedColumns: false,
		 fixedHeader: true,
	 });
 } );
  var myVar;

function funcloading() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.visibility = "hidden";
  document.getElementById("myDiv").style.visibility = "visible";
}

</script>
{% include "footer.html" %}
